body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.details-list {
  list-style-type: disc;
  padding-left: 20px;
}

.details-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.details-label {
  font-weight: bold;
  color: #333;
}

.details-value {
  font-weight: normal;
  color: #555;
  margin-left: 20px; /* Adds space between label and value */
}

.details-value .frequency {
  margin-left: 10px;
  font-weight: bold;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-danger {
  background-color: #d9534f;
}

.btn-danger:hover {
  background-color: #c9302c;
}

@media (max-width: 600px) {
  .details-item {
    flex-direction: column;
  }
}
