<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Tareas de Reunión</title>
  <link rel="stylesheet" href="listar-tareas.component.css">
</head>
<body>
  <div class="container">
    <h3>Lista de Tareas de Reunión</h3>
    <form id="checklistForm">
      <div class="details-item">
        <label for="saludo">Saludo / Oración</label>
        <input type="checkbox" id="saludo" name="saludo">
      </div>
      <div class="details-item">
        <label for="libro">Entregar libro al Comité</label>
        <input type="checkbox" id="libro" name="libro">
      </div>
      <div class="details-item">
        <label for="integrantes">Llamar Lista de Integrantes</label>
        <input type="checkbox" id="integrantes" name="integrantes">
      </div>
      <div class="details-item">
        <label for="recaudacion">Sumar Recaudación</label>
        <input type="checkbox" id="recaudacion" name="recaudacion">
      </div>

      <tr *ngIf="operacion">    
      </tr>
      <div class="button-container">
      <button (click)="obtenerReunionesPorIdOperacion(operacion.id_operacion)" class="btn btn-danger" style="margin-right: 10px;">Volver a la lista</button>
      <button (click)="obtenerReunionesPorIdOperacion(operacion.id_operacion)" class="btn btn-success" style="margin-right: 10px;">Cerrar Reunión</button>
    </div>
    </form>
  </div>
</body>
</html>
