
<div class='demo-app'>
  <!--   
  <div class='demo-app-main'>
    <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
      <ng-template #eventContent let-arg>
        <i>{{ arg.event.title }}</i>
        <i style="margin-left: 10px;">{{ arg.event.extendedProps.horaReunion }}</i>
      </ng-template>
    </full-calendar>
  </div>
 -->

 <div class='demo-app-main'>
  <input type="text" [(ngModel)]="searchTitle" placeholder="Buscar por UDE">
  <button (click)="buscar()">Buscar</button> 
  <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
    <ng-template #eventContent let-arg>
      <div *ngIf="arg.event.title.toLowerCase().includes(searchTitle.toLowerCase())">
        <i>{{ arg.event.title }}</i>
        <i style="margin-left: 10px;">{{ arg.event.extendedProps.horaReunion }}</i>
      </div>
    </ng-template>
  </full-calendar>
</div>






