<!-- tu-componente.component.html -->

<h2>Lista Operaciones</h2>

<div>
  <label for="filtrarOperacionesPorAsesor">Filtrar por Asesor:</label>
  <input type="text" id="filtrarOperacionesPorAsesor" [(ngModel)]="asesorFiltro">
</div>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>N° Operación</th>
      <th>Nro Cuenta Grupal</th>
      <th>Nombre de Grupo</th>
      <th>Asesor</th>
      <th>Fecha de Desembolso</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let operacion of filtrarOperacionesPorAsesor()">
      <td style="text-align: center;">{{operacion.id_operacion}}</td>
      <td>{{operacion.nro_cuenta_cliente}}</td>
      <td>{{operacion.nombre_grupo}}</td>
      <td>{{operacion.asesor}}</td>
      <td>{{operacion.fecha_desembolso | date:'dd/MM/yyyy'}}</td>
      <td>
        <div class="d-inline-block">
          <button (click)="verDetallesDelaOperacion(operacion.id_operacion)" class="btn btn-secondary" style="margin-right: 10px;">Ver Detalles</button>
          <button (click)="obtenerReunionesPorIdOperacion(operacion.id_operacion)" class="btn btn-primary">Lista de Reuniones</button>
        </div>
      </td>      
    </tr>
  </tbody>
</table>
