.caja-input {
    width: 300px; /* Ancho deseado */
    height: 40px; /* Alto deseado */
    border: 2px solid blue; /* Borde de color azul */
    border-radius: 10px; /* Bordes redondeados */
    display: flex; /* Usar flexbox para centrar verticalmente */
    align-items: center; /* Centrar verticalmente */
    padding: 5px; /* Espaciado interno */
  }
  
  input[type="text"] {
    width: calc(100% - 12px); /* Restar el ancho del borde y el relleno */
    height: calc(100% - 12px); /* Restar el alto del borde y el relleno */
    border: none; /* Quitar el borde del input */
    outline: none; /* Quitar el contorno de enfoque */
    padding: 5px; /* Espaciado interno */
  }

  .texto-centrado {
    display: block;
    text-align: center;
  }
  
  .select-caja {
    border: 2px solid blue;
    font-size: 16px;
    height: 40px; /* Ajusta la altura según sea necesario */
    width: 100%; /* Opcional: ajusta el ancho del select al 100% */
    border-radius: 10px;
  }

  input[type="text"] {
    border: 2px solid blue; /* Borde de 2px de ancho y color azul */
    border-radius: 5px; /* Bordes redondeados */
    width: 100%;
    height: 40px;
    padding: 8px; /* Espaciado interno */
    border-radius: 10px;
  }