<h3>Detalles de la Reunión</h3>
<div>
  <div>
    <label><b>ID de Reunión : </b> {{ reunion.idReunion }}</label>
  </div>
  <div>
    <label><b>Asesor : </b> {{ reunion.asesor }}</label>
  </div>
  <div>
    <label><b>Id Operación </b> {{ reunion.idOperacion }}</label>
  </div>
  <div>
    <label><b>Monto desembolsado:  </b> {{ reunion.monto_desembolso }}</label>
  </div>
  <div>
    <label><b>Nombre del Grupo:  </b> {{ reunion.nombreGrupo }}</label>
  </div>
  <div>
    <label><b>Número de cuenta del Grupo:  </b> {{ reunion.nro_cuenta_grupo }}</label>
  </div>
  <div>
    <label><b>Fecha de Reunión:  </b> {{ reunion.fechaDeReunion }}</label>
  </div>
  <div>
    <label><b>Fecha de Cierre de la Operación:  </b> {{ reunion.fechaDeCierre }}</label>
  </div>
</div>

