<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles de la Reunión</title>
  <link rel="stylesheet" href="reunion-detalles.component.css"> <!-- Vincula el archivo CSS externo -->
</head>
<body>
  <div class="container">
    <h3>Detalles de la Reunión N° {{ reunion.nroCuota }}</h3>
    <div class="details-item">
      <label class="details-label">N° Operación:</label>
      <span class="details-value">{{ reunion.idOperacion.toLocaleString('es-ES') }}</span>
    </div>
    <div class="details-item">
      <label class="details-label">Asesor:</label>
      <span class="details-value">{{ reunion.asesor }}</span>
    </div>
    <div class="details-item">
      <label class="details-label">Nombre del Grupo:</label>
      <span class="details-value">{{ reunion.nombreGrupo }}</span>
    </div>
    <div class="details-item">
      <label class="details-label">Número de cuenta del Grupo:</label>
      <span class="details-value">{{ reunion.nroCuentaCliente.toLocaleString('es-ES') }}</span>
    </div>
    <div class="details-item">
      <label class="details-label">Fecha de Reunión:</label>
      <span class="details-value">{{ reunion.fechaDeReunion | date: 'dd/MM/yyyy' }}</span>
    </div> 
    <div class="details-item">
      <label class="details-label">Hora de Reunión Agendada:</label>
      <span class="details-value">{{ reunion.horaReunionAgendada }}</span>
    </div>
    <div class="details-item">
      <label class="details-label">Duración Estimada:</label>
      <span class="details-value">{{ reunion.duracionEstimada }} minutos</span>
    </div>
    <div class="details-item">
      <label class="details-label">Tiene Préstamo Interno:</label>
      <span class="details-value">{{ reunion.conPrestamoInterno }}</span>
    </div>
    <div class="details-item">
      <label class="details-label">Fecha de Cierre de la Operación:</label>
      <span class="details-value">{{ reunion.fechaCierreFormateada }}</span>
    </div>
    <div class="details-item">
      <label class="details-label">Estado de la Reunión: </label>
      <span class="details-value">{{ reunion.estado }}</span>
    </div>

    <div class="details-item" *ngIf="reunion.estado === 'CERRADA'">
      <label class="details-label">Duración: </label>
      <span class="details-value">{{ reunion.duracion }} minutos</span>
    </div>
    <div class="details-item" *ngIf="reunion.estado === 'CERRADA'">
      <label class="details-label">Hora de Inicio: </label>
      <span class="details-value">{{ reunion.horaReunionComienzo }}</span>
    </div>
    <div class="details-item" *ngIf="reunion.estado === 'CERRADA'">
      <label class="details-label">Hora de Termino: </label>
      <span class="details-value">{{ reunion.horaReunionCierre }}</span>
    </div>
    <button class="btn btn-danger" type="button" (click)="cancelar()" style="margin-right: 10px;">Atrás</button>
  </div>
</body>
</html>
