<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles de la Reunión</title>
  <link rel="stylesheet" href="reunion-detalles.component.css"> <!-- Vincula el archivo CSS externo -->
</head>
<body>
  <div class="container">
    <h3>Detalles de la Reunión N° {{ reunion.idReunion }}</h3>
    <div class="details-item">
      <label class="details-label">N° Operación:</label>
      <span class="details-value">{{ reunion.idOperacion }}</span>
    </div>
    <div class="details-item">
      <label class="details-label">Asesor:</label>
      <span class="details-value">{{ reunion.asesor }}</span>
    </div>
    <div class="details-item">
      <label class="details-label">Monto desembolsado:</label>
      <span class="details-value">{{ reunion.monto_desembolso }}</span>
    </div>
    <div class="details-item">
      <label class="details-label">Nombre del Grupo:</label>
      <span class="details-value">{{ reunion.nombreGrupo }}</span>
    </div>
    <div class="details-item">
      <label class="details-label">Número de cuenta del Grupo:</label>
      <span class="details-value">{{ reunion.nroCuentaCliente }}</span>
    </div>
    <div class="details-item">
      <label class="details-label">Fecha de Reunión:</label>
      <span class="details-value">{{ reunion.fechaDeReunionFormateada }}</span>
    </div>
    <div class="details-item">
      <label class="details-label">Fecha de Cierre de la Operación:</label>
      <span class="details-value">{{ reunion.fechaCierreFormateada }}</span>
    </div>
    <div class="details-item">
      <label class="details-label">Estado</label>
      <span class="details-value">{{ reunion.estado }}</span>
    </div>
  </div>
</body>
</html>
