body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .details-item {
    margin-bottom: 15px;
    padding: 10px;
  }
  
  .details-item:nth-child(even) {
    background-color: #6316f3; /* Color de fondo gris claro para filas pares */
  }

  .details-item:nth-child(even) .details-label,
.details-item:nth-child(even) .details-value {
  color: white; /* Color de texto blanco para filas pares */
}
  
  .details-label {
    font-weight: bold;
    min-width: 150px;
    display: inline-block;
  }
  
  .details-value {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    color: #413f3f;
  }
  

  @media (max-width: 600px) {
    .container {
      max-width: 100%;
      border-radius: 0;
    }
    
    .details-label {
      min-width: 100%;
      display: block;
    }
    
    .details-value {
      display: block;
      margin-left: 0;
    }
  }
  